ADDR=:8080

ENV=development

BACKEND_WS=ws://ai_service:8001
AGENT_SERVICE_URL=http://agent_service:8002
CHAT_SERVICE_URL=http://chat_service:8003
DIARY_SERVICE_URL=http://diary_service:8004

PASETO_SYMMETRIC_KEY=1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef

OIDC_ISSUER=
OIDC_CLIENT_ID=