ADDR=:8080

ENV=development

BACKEND_WS=ws://localhost:8000/chat
CHAT_SERVICE_URL=http://localhost:8001
DIARY_SERVICE_URL=http://localhost:8002

PASETO_SYMMETRIC_KEY=1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef

OIDC_ISSUER=
OIDC_CLIENT_ID=