ENV=development

PASETO_SYMMETRIC_KEY=1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef

FALKORDB_HOST=dear-ai-falkordb
FALKORDB_PORT=6379
FALKORDB_PASSWORD=

VERTEX_MODEL_ID=

VERTEX_PROJECT=

VERTEX_LOCATION=

EMBEDDING_MODEL=text-embedding-004

DEEPGRAM_API_KEY=